name: Video Compression Bot (Final Fix)

on:
  workflow_dispatch:

jobs:
  compress_and_upload:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Download Video
        run: |
          curl -L 'Https://abra--5e4bd524.api.cosmic-crab.buzz/f156c9e34b9b191a93ec53d5e1587ce27f3151ee/%D8%A3%D8%A8%D8%B7%D8%A7%D9%84%20%D8%A7%D9%84%D8%AF%D9%8A%D8%AC%D9%8A%D8%AA%D8%A7%D9%84%20%D8%B3%D8%A8%D9%8A%D8%B3%D8%AA%D9%88%D9%86%20265/04.mp4?api-key=8acbcf1e-732c-4574-a3bf-27e6a85b86f1&download=true&token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NzAzMzI4MTgsInJhdGUiOiI1TSIsInJvbGUiOiJmcmVlIiwic2Vzc2lvbklEIjoiTVRjMk9UQTROREF6T1h4T2QzZEJUa1pLVTFaR1pGUlRWbWhGVGpCNFZsVnJZM2xTUlhSTFZWWm9VbE5zWkZwWFJFMTVVekZSZWxWRlpGaFVSbHBYVkd4d1JsUkZiRkJTYTJoR1ZGWmFWbFpWYUVkV01FVTlmT1I0QXRnWXJGOUV3NU93bHl4Uy13Nk8xY0lPZjlfR2VnbjI3SFI5by1YRyIsImRvbWFpbiI6IndlYnRvci5pbyIsImFnZW50IjoiTW96aWxsYS81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTBfMTVfNykgQXBwbGVXZWJLaXQvNjA1LjEuMTUgKEtIVE1MLCBsaWtlIEdlY2tvKSBWZXJzaW9uLzE2LjYuMSBTYWZhcmkvNjA1LjEuMTUiLCJyZW1vdGVBZGRyZXNzIjoiMjAwMToxNmE0OjI2ZDo0YjY0OmY0MTY6YTRkYzplMzo0MzFiIn0.LDdKrBZ9Zpd20EAYhZQYwhO_JCgr4BUtj1sPMBSCSs0' -o input_video.mp4

      - name: Fast & Guaranteed Compression
        run: |
          # سنستخدم سرعة faster لتقليل وقت الانتظار
          # وسنحدد الـ Bitrate بـ 800k لضمان حجم حوالي 170MB (أمان تام)
          ffmpeg -y -i input_video.mp4 -c:v libx264 -b:v 800k -preset faster -c:a aac -b:a 128k output_video.mp4

      - name: Upload to Catbox
        run: |
          RESPONSE=$(curl -F "reqtype=fileupload" -F "fileToUpload=@output_video.mp4" https://catbox.moe/user/api.php)
          echo "-------------------------------------"
          echo "الرابط: $RESPONSE"
          echo "-------------------------------------"
